html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  overflow-x: hidden; /* Evita el scroll horizontal */
}

/* Contenedor con scroll snapping */
.snap-container {
  width: 100%;
  scroll-snap-type: y mandatory;
  overflow-y: scroll;
  height: 100vh;
}

/* Cada sección se ajusta al viewport */
.snap-item {
  width: 100%;
  scroll-snap-align: start;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.card-item {
  background-color:rgb(224, 168, 54);
}

/* Estilos para las minicards */
.minicards {
  background-color:rgb(153, 134, 110);
  margin: 0;
  border-radius: 17px;
}

.botonseccion{
  border-radius: 17px;
}

/* Ejemplos de alturas personalizadas */
#minicard1 { height: 50px; margin-left: 5px; margin-top: 5px;}
#minicard2 { height: 153px; margin-left: 5px;}
#minicard3 { height: 50px; margin-left: 5px;}
#minicard4 { height: 153px; margin-left: 5px;}
#minicard5 { height: 50px; margin-left: 5px;}
#minicard6 { height: 153px; margin-bottom: 5px; margin-left: 5px;}
#minicard7 { height: 50px; margin-left: 5px; margin-right: 5px; margin-top: 5px;}
#minicard8 { height: 523px; margin-left: 5px; margin-right: 5px;}
#minicard9 { height: 50px; margin-bottom: 5px; margin-left: 5px; margin-right: 5px;}
#minicard10 { height: 207px; margin-right: 5px; margin-top: 5px;}
#minicard11 { height: 207px; margin-right: 5px;}
#minicard12 { height: 207px; margin-right: 5px; margin-bottom: 5px;}

html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}
/* Quitar márgenes y bordes redondeados a las cards para que se peguen */
.card {
  margin-bottom: 3.6px;
  border-radius: 5px;
}
/* Contenedor flex para la fila de minicards */
.minicards-flex {
  display: flex;
  width: 100%;
  height: 70px;
  padding: 0;
  margin: 0;
}
/* Estilos para los minicards grandes y pequeños */
.minicard-large {
  width: 45%; /* Más anchos */
}
.minicard-small {
  width: 5%;
}
/* Remover cualquier margen interno entre las cards */
.minicards-flex > .card {
  margin: 0;
}